<p>
  <strong class="post-title">Title:</strong>
 <%= @post.title %>
</p>
 
<p>
  <strong class="post-text">Text:</strong>
  <%= @post.text %>
</p>
<p>

by <%= link_to @post.user.username, @post.user %>
</p>
<%= link_to "Back", :back %>